python-dotenv
pydantic
langchain
fastapi
diffusers[torch]
transformers
accelerate
safetensors
TTS
coqpit
whisper
soundfile
torch
torchaudio
numpy
pandas
pyyaml
loguru
requests
imageio
moviepy
pytest
black